<h1>Clinic</h1>
<h3>Who am I?</h3>
<ul>
  <li><%= link_to 'vet', vets_path %></li>
  <li><%= link_to 'customer', customers_path %></li>
  <li><%= link_to 'receptionist', appointments_path %></li>
</ul>
